body
{
	margin-left:0;
	margin-right:0;
	margin-top:0;
	margin-bottom:0;
}
[data-role=header]
{
	
	top:0;
	position:relative !important;
	bottom: auto !important; 
	background-color:#003366; 
	border-bottom:1px solid black;
}


ul
{
	list-style:none;
	margin:0;
	padding:0;
}

li
{
	list-style:none;
	margin:0;
	padding:0;
	display:inline;
}

li span
{
	margin:0;
	padding:0;
}

lu span
{
	margin-bottom:0px;
	
}

IMG
{
	position:relative;
	margin:0;
	padding-right:0;
}
